<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
    <h3>Create Book</h3>

    <form action="/add" method="POST">
    	<p>
    		Name: <br />
    		<input type="text" placeholder="Name" name="name" required="" />
    	</p>
    	<p>
    		Author: <br />
    		<input type="text" placeholder="Author" name="author" required="" />
    	</p>
    	<p>
    		Description: <br />
    		<textarea placeholder="Description" name="description" required=""></textarea>
    	</p>
    	<p>
    		<button type="submit">Submit</button>
    	</p>
  </form>

</body>
</html>